<header>
    <img src="/images/logo.png" width="100px" height="100px" alt="logo">
    <nav class="menu">
        <div> <a href="/">Inicio</a> </div>
        <div> <a href="/contato">Contato</a> </div>
        <div> <a href="/pessoas">Pessoas</a> </div>
    </nav>
</header>