<!DOCTYPE html>
<html>
  <head>
    <title>Contato</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <header>
      <h1>CONTATO</h1>
      <p>Nome: Alex da Silva Lima</p>
      <p>Fone: 11 99999-999</p>
      <p>E-mail: alex.lima@email.com</p>
      <img src="/images/2.png" alt="avatar">
    </header>
    
  </body>
</html>
