<!DOCTYPE html>
<html>
  <head>
    <title>Contato</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

  <body>
    <header>
      <section class="sessao-1">
        <h1>CONTATO</h1>
        <p>Nome: Alex  Lima</p>
        <p>Fone: 11 99999-999</p>
        <p>E-mail: alex.lima@email.com</p>
        <img src="/images/2.png" alt="avatar">
      </section>

      <section class="sessao-2">
        <% for (let i = 1; i < 5; i++) { %>
          <p>TESTANDO AS TAGS DO EJS =>   <strong> Nº <%= i %> </strong></p>
        <% } %>
      </section>
      
    </header>
    
  </body>

</html>
